<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title th:text="${titulo}"></title>
    <th:block th:include="includes/fragments :: links"></th:block>
</head>
<body>
    <th:block th:include="includes/fragments :: navbar"></th:block>
    <div class="container">
        <h1 th:text="${titulo}"></h1>
        <form th:action="@{/formCarro}" th:object="${carro}" method="post">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label ">Empresa</label> 
                <div class="col-sm-6">
                    <input type="text" th:field="*{company}" class="form-control" disabled/>
                    <label class="form-text text-danger" th:if="${#fields.hasErrors('company')}" th:errors="*{company}"></label>         
                </div>
            </div>  
            <div class="form-group row">
                <label class="col-sm-2 col-form-label ">Peso</label> 
                <div class="col-sm-6">
                    <input type="number" step="0.01" th:field="*{weight}" class="form-control"/>
                    <label class="form-text text-danger" th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}"></label>
                </div>
            </div>       
            <div class="form-group row">
                <label class="col-sm-2 col-form-label ">Fecha de Creación</label> 
                <div class="col-sm-6">
                    <input type="date" th:field="*{creationDate}" class="form-control" th:errorclass="'form-control alert-danger'">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('creationDate')}" th:errors="*{creationDate}"></small>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label ">Empleado</label> 
                <div class="col-sm-6">
                    <input type="text" th:field="*{user}" class="form-control">
                    <label class="form-text text-danger" th:if="${#fields.hasErrors('user')}" th:errors="*{user}"></label>
                </div>
            </div>

            <div class="form-group "> 
                <div class="col-sm-6">
                    <input type="submit" value="Editar Carro" class="btn btn-warning"/>
                </div>
            </div>     
            <input type="hidden" th:field="*{id}" />
        </form>
    </div>
    <th:block th:include="includes/fragments :: footer"></th:block>
    <th:block th:include="includes/fragments :: scripts"></th:block>
    
</body>
</html>