<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title th:text="${titulo}"></title>
    <th:block th:include="includes/fragments :: links"></th:block>
</head>
<body>
    <th:block th:include="includes/fragments :: navbar"></th:block>
    <div class="container">
        <h1 th:text="${titulo}"></h1>
        <form th:action="@{/form}" th:object="${company}" method="post">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Nombre</label> 
                <div class="col-sm-6">
                    <input type="text" th:field="*{name}" class="form-control" 
                    th:errorclass="'form-control alert-danger'"/>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label ">Localización</label> 
                <div class="col-sm-6">
                    <input type="text" th:field="*{location}" class="form-control" th:errorclass="'form-control alert-danger'">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('location')}" th:errors="*{location}"></small>
                </div>
            </div>       
            <div class="form-group row">
                <label class="col-sm-2 col-form-label ">Email</label> 
                <div class="col-sm-6">
                    <input type="text" th:field="*{email}" class="form-control" th:errorclass="'form-control alert-danger'">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label ">Calle</label> 
                <div class="col-sm-6">
                    <input type="text" th:field="*{street}" class="form-control" th:errorclass="'form-control alert-danger'">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></small>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label ">C.P.</label> 
                <div class="col-sm-6">
                    <input type="text" th:field="*{zipCode}" class="form-control" th:errorclass="'form-control alert-danger'">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}"></small>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label ">Fecha de Creación</label> 
                <div class="col-sm-6">
                    <input type="date" th:field="*{creationDate}" class="form-control" th:errorclass="'form-control alert-danger'">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('creationDate')}" th:errors="*{creationDate}"></small>
                </div>
            </div>

            <div class="form-group "> 
                <div class="col-sm-6">
                    <input type="submit" value="Crear Empresa" class="btn btn-primary"/>
                </div>
            </div>     
            <input type="hidden" th:field="*{id}" />
        </form>
    </div>
    <th:block th:include="includes/fragments :: footer"></th:block>
    <th:block th:include="includes/fragments :: scripts"></th:block>
    
</body>
</html>