<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title th:text="${titulo}"></title>
    <th:block th:include="includes/fragments :: links"></th:block>
</head>
<body>
    <th:block th:include="includes/fragments :: navbar"></th:block>
    <div class="container">
        <h1 th:text="${titulo}"></h1>
        <div th:object="${carro}" th:remove="tag">
			<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
				<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
			</ul>
		</div>
        <form th:action="@{/formCarro}" th:object="${carro}" method="post">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label ">Empresa</label> 
                <div class="col-sm-6">
                    <div class="dropdown" >
                        <a class="btn btn-light dropdown-toggle" role="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          Empresa
                        </a>
                        <ul class="dropdown-menu" th:each="company: ${companies}" aria-labelledby="dropdownMenuButton1">
                            <!-- <li><a class="dropdown-item" th:text="${company.name}" ></a></li> -->
                            <li><a class="dropdown-item" href="#">Action</a></li>
                        </ul>
                      </div>
                    <div class="dropdown-menu" th:each="company: ${companies}">
                        <a class="dropdown-item" th:text="${company.name}" ></a>
                        <input type="text" th:field="*{company}" class="form-control">
                    </div>
                    <label class="form-text text-danger" th:if="${#fields.hasErrors('company')}" th:errors="*{company}"></label>
                    
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label ">Peso</label> 
                <div class="col-sm-6">
                    <input type="text" th:field="*{weight}" class="form-control">
                    <label class="form-text text-danger" th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}"></label>
                </div>
            </div>       
            <div class="form-group row">
                <label class="col-sm-2 col-form-label ">Fecha</label> 
                <div class="col-sm-6">
                    <input type="text" th:field="*{creationDate}" class="form-control">
                    <label class="form-text text-danger" th:if="${#fields.hasErrors('creationDate')}" th:errors="*{creationDate}"></label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label ">Empleado</label> 
                <div class="col-sm-6">
                    <input type="text" th:field="*{user}" class="form-control">
                    <label class="form-text text-danger" th:if="${#fields.hasErrors('user')}" th:errors="*{user}"></label>
                </div>
            </div>

            <div class="form-group "> 
                <div class="col-sm-6">
                    <input type="submit" value="Crear Cliente" class="btn btn-primary"/>
                </div>
            </div>     
            <input type="hidden" th:field="*{id}" />
        </form>
    </div>
    <th:block th:include="includes/fragments :: footer"></th:block>
    <th:block th:include="includes/fragments :: scripts"></th:block>
    
</body>
</html>