<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'/>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>HOME</title>
    <th:block th:include="includes/fragments :: links"></th:block>
</head>
<body class="fixed-nav sticky-footer sidenav-toggled" id="page-top">
    <!-- Navigation-->
	<th:block th:include="includes/fragments :: navbar"></th:block>
    <div class="container">
        <h1 th:text="${titulo}"></h1>
        <div class="form-group "> 
          <div class="col-sm-6">
              <a  class="btn btn-success" type="submit" th:href="@{/formCarro}">
                  <i class="bi bi-cart"></i>
              </a>
            
            <a class="btn btn-danger" >
                <i class="bi bi-cart"></i>
            </a>
          </div>
            

      </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Peso</th>
                    <th>Fecha de Creación</th>
                    <th>Trabajador</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="carro: ${carros}"> 
                    <td th:text="${carro.id}"></td>
                    <td th:text="${carro.company}"></td>
                    <td th:text="${carro.weight}"></td>
                    <td th:text="${carro.creationDate}"></td>
                    <td th:text="${carro.user}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <th:block th:include="includes/fragments :: footer"></th:block>
    <th:block th:include="includes/fragments :: scripts"></th:block>
</body>
</html>