<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'/>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>HOME</title>
    <th:block th:include="includes/fragments :: links"></th:block>
</head>
<body>
  <th:block th:include="includes/fragments :: navbar"></th:block>
    <div class="container">
        <h1 th:text="${titulo}"></h1>
        <div class="form-group "> 
            <div class="col-sm-6">
                <!-- <input type="submit"  value="Crear Empresa" class="btn btn-success"/> -->
                <a th:href="@{/form}"> <input type="submit"  value="Crear Empresa" class="btn btn-success"/></a>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Contacto</th>
                    <th>Localidad</th>
                    <th>Calle</th>
                    <th>C.P.</th>
                    <th>Fecha de Creación</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="company: ${companies}"> 
                    <td th:text="${company.id}"></td>
                    <td th:text="${company.name}"></td>
                    <td th:text="${company.email}"></td>
                    <td th:text="${company.location}"></td>
                    <td th:text="${company.street}"></td>
                    <td th:text="${company.zipCode}"></td>
                    <td th:text="${company.creationDate}"></td>
                    <td>
                        <a class="btn btn-warning" th:href="@{/form/} + ${company.id}" >
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-danger" th:href="@{/deleteCompany/} + ${company.id}" onclick="return confirm('Estás seguro que quieres eliminar ?' );" >
                            X
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <th:block th:include="includes/fragments :: footer"></th:block>
    <th:block th:include="includes/fragments :: scripts"></th:block>
    
</body>
</html>